<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>DSC Kenyatta University Data</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="../static/images/logo.png">
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/styles.css"> 
        <!--google fonts-->
        <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <nav>
            <div class="nav-brand">
                <img src="../static/images/logo.png" alt="logo"><span>DSC Kenyatta University API Docs</span>
            </div>
        </nav>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12" id="intro">
                    <div class="text-wrapper">
                        <h1>Introduction</h1>
                        <p>The DSCKU <a href="https://en.wikipedia.org/wiki/Application_programming_interface">APIs</a> are organized around <a href="https://en.wikipedia.org/wiki/Representational_state_transfer">REST</a>.<br>
                        Behind these APIs is a software layer connecting and optimizing data flow</p>
                        <p> Our API has predictable resource-oriented URLs, accepts form-encoded request bodies, 
                            returns JSON-encoded responses, 
                            and uses standard HTTP response codes, authentication, and verbs.</p>
                    </div>    
                </div>
                <div class="col-md-12" id="guide">
                    <div class="text-wrapper">
                        <h1>User Guide</h1>
                        <h3>Working with Members API</h3> <br><br>
                        <div class="code">
                            <div class="code-top"><b>BASE URL:</b></div>
                            <div class="code-body"><code>https://dscku-data.herokuapp.com</code></div>
                        </div>
                        <h4></h4><b>members endpoints</b></h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Endpoint</th>
                                    <th>Functionality</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>GET</td>
                                    <td>BASE URL<code>/api/public/members</code></td>
                                    <td>Get all members</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                </div>
                <div class="col-md-12" id="terms">
                    <div class="text-wrapper">
                        <h1>Terms & Conditions</h1>
                        <p>coming soon...</p>
                    </div>      
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-wrapper" style="min-height: 100vh; position:fixed; background:black; position: absolute; text-align: center; color: #ffffff;">
                    <img src="../static/images/illustration.png" alt="DSCKU" class="illustration">
                    <div class="credits">
                        <img src="../static/images/logo.png" alt="dscku" height="50px;"><br><br><b>DEVELOPER STUDENT CLUB KENYATTA UNIVERSITY</b>
                    </div>
                </div>     
             </div>
        </div>

        
        <script src="" async defer></script>
    </body>
</html>